@import "../../../variables.scss";

.address-card {
  @include card-edges;

  background-color: $red;
  color: $white;
  list-style: none;

  h3 {
    color: $basicwhite;
  }
  
  p {
    margin-bottom: 1rem;
  }
}