@import "../../variables.scss";

.address-form {
  @include card-edges;

  background-color: $dark;

  form {
    display: flex;
    flex-direction: column;
    
    & > hr {
      margin-bottom: 0.5rem;
    }

    & > p {
      color: red;
      font-size: 1.2rem;
      font-weight: 500;
      margin-bottom: 0px;
    }

    legend {
      color: $basicwhite;
      font-size: 1.5rem;
      font-weight: 200;
      margin-bottom: 1.5rem;
    }

    label {
      color: white;
    }

    ul {
      margin: 0;

      li {
        list-style-type: none;
        margin-bottom: 0;
      }
    }

    .submit-button {
      margin-top: 2rem;
    }
  }
}