@import "./variables.scss";

// Used to set rem and em for sizing: see https://css-tricks.com/rems-ems/
html {
  font-size: 15px;

  body {
    background-color: $black;
    margin: 0px;
    padding: 0px 2rem;

    #root {
      display: flex;
      flex-direction: column;
      min-height: 100vh;
    }

    main {
      background-color: $black;
      flex: 1;
      padding: $masterPadding;
    }

    header {
      border-bottom: 1px solid $dark;

      h1 {
        color: $headerfooter;
        margin: 1rem;
      }
    }

    footer {
      border-top : 1px solid $dark;

      h4 {
        color: $headerfooter;
        margin: 1rem;
      }
    }

    header, footer {
      background-color: $black;
      padding-top: 2rem;
      padding: $masterPadding;
    }
  }
}



